/* importing Red Hat Display fonts from google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

/* Variable of fonts and color */

:root {
  /* fonts variable */
  --Red-Hat-Display: "Red Hat Display", sans-serif;
  /* primary colors */
  --Pale-blue: hsl(225, 100%, 94%);
  --Brigt-blue: hsl(245, 75%, 52%);
  /* Neutral color */
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

/* reseting browser default css  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}